# dependencies
node_modules/
**/node_modules
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
*/node_modules/*

# macOS
.DS_Store
# eslint cache
.eslintcachenode_modules
