.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.gradient-yellow {
  background: rgb(255, 152, 0);
  background: linear-gradient(90deg, rgba(255, 152, 0, 1) 1%, rgba(255, 255, 255, 1) 93%);
}

.gradient-purple {
  background: rgb(157, 64, 173);
  background: linear-gradient(90deg, rgba(157, 64, 173, 1) 1%, rgba(255, 255, 255, 1) 93%);
}

.gradient-green {
  background: rgb(96, 186, 98);
  background: linear-gradient(90deg, rgba(96, 186, 98, 1) 1%, rgba(255, 255, 255, 1) 93%);
}

.active-menu-left {
  background-color: #498a4a;
  background: linear-gradient(90deg,
      rgba(73, 138, 74, 1) 0%,
      rgba(73, 138, 74, 1) 92%,
      rgba(96, 186, 98, 0.8113620448179272) 100%);
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

.main-menu ul {
  list-style: none;
  margin: 0;
  margin-bottom: 120px;
  padding: 0;
}

/* html .content.app-content {
  overflow: visible;
} */
.main-menu.menu-fixed {
  position: fixed;
  top: 0;
}

.ps {
  overflow: scroll !important;
  overflow-anchor: none;
  -ms-overflow-style: none;
  touch-action: auto;
  -ms-touch-action: auto;
  direction: ltr;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

input[type="checkbox"] {
  accent-color: #ff9800;
}

/* .header-navbar.fixed-top {
  margin-right: 260px;
  right: 0px;
  position: relative;
}
html .navbar-sticky .app-content .content-wrapper {
  margin-top: 0px;
}
.header-navbar .navbar-container ul.nav li a.dropdown-user-link img {
  box-shadow: none;
} */
@import "@wojtekmaj/react-daterange-picker/dist/DateRangePicker.css";
@import "react-calendar/dist/Calendar.css";

@import "react-date-range/dist/styles.css";
@import "react-date-range/dist/theme/default.css";


.react-daterange-picker__wrapper,
.react-daterange-picker__wrapper {
  border: 0px !important;
}